<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout-fragment(
							~{::title},
							~{::content},
							null,
							~{:: #additionalJs},
							'image'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{image.label.plural}+' - '+#{image.show.label})}"></title>
</head>
<body>

	<div th:fragment="content">

		<div th:replace="~{fragments/messages :: messages-fragment(${messages})}"></div>

		<div class="row mt-2">
			<div class="col-9">
				<div class="text-center">
					<img th:src="@{/image/content/{id}(id=${image.id})}" class="img-fluid img-fit">
				</div>
			</div>
			<div class="col-3">
				<div class="card">
					<h5 class="card-header">Image</h5>
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="card-link">Card link</a>
						<a href="#" class="card-link">Another link</a>
					</div>
					<div class="card-footer">
						<p class="lead fst-italic">
							<span>File size</span>: <span th:text="${image.sizeFormatted}">[sizeFormatted]</span>
						</p>
						<p class="lead fst-italic">
							<span>Resolution</span>:
							<span th:if="${image.resolutionWidth &gt; 0}">
								<span th:text="${image.resolutionWidth}">[resolutionWidth]</span> x <span th:text="${image.resolutionHeight}">[resolutionHeight]</span>
							</span>
							<span th:if="${image.resolutionWidth &lt; 1}">?</span>
						</p>
					</div>
					<div class="card-footer" th:if="${image.importPath != null}">
						<p class="lead fst-italic" th:text="${image.importPath}">[importPath]</p>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="~{fragments/dialogs :: deleteDialog-fragment(id='deleteModal', controller='image', title=#{image.deletePopup.title}, question=#{image.deletePopup.question})}"></div>

	</div>

	<th:block id="additionalJs">
		<script th:src="@{/js/image-show.js}"></script>
	</th:block>

</body>
</html>