<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout-fragment(
							~{::title},
							~{::content},
							~{:: #additionalStyles},
							~{:: #additionalJs},
							'dashboard'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{dashboard.label})}">Dashboard</title>

	<th:block id="additionalStyles">
		<!-- jQCloud -->
		<link rel="stylesheet" th:href="@{'/webjars/jqcloud2/'+#{application.dependency.jqcloud}+'/dist/jqcloud.min.css'}"/>
	</th:block>
</head>
<body>

	<div th:fragment="content">

		<div class="container-fluid" id="wordCloud" style="height: 40rem;/* background-color: #957bbe;*/"></div>

	</div>

	<th:block id="additionalJs">
		<!-- jQCloud -->
		<script defer th:src="@{'/webjars/jqcloud2/'+#{application.dependency.jqcloud}+'/dist/jqcloud.min.js'}"></script>

		<script th:src="@{/js/dashboard.js}"></script>
	</th:block>

</body>
</html>