<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout-fragment(
							~{::title},
							~{::content},
							null,
							null,
							'dashboard'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{dashboard.label})}">Dashboard</title>
</head>
<body>

	<div th:fragment="content">

		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2" th:text="#{dashboard.label}">Dashboard</h1>
		</div>

		<div th:replace="~{fragments/messages :: messages-fragment(${messages})}"></div>

		<div class="row">

			<div class="col-lg-6">

				<div class="card mb-3">
					<h3 class="card-header">Categories</h3>
					<div class="card-body">
						<p class="card-text">
							<a th:each="tag : ${allCategoryTags}"
								th:href="@{/image/search/tag/{id}(id=${tag.id})}"
								class="text-nowrap me-1"
								th:text="${tag.name}">[name]</a>
						</p>
					</div>
				</div>

				<div class="card mb-3">
					<h3 class="card-header">Persons</h3>
					<div class="card-body">
						<p class="card-text">
							<a th:each="tag : ${allPersonTags}"
								th:href="@{/image/search/tag/{id}(id=${tag.id})}"
								class="text-nowrap me-1"
								th:text="${tag.name}">[name]</a>
						</p>
					</div>
				</div>

			</div>

			<div class="col-lg-6">

				<div class="card mb-3">
					<h3 class="card-header">Statistics</h3>
					<div class="card-body">
						<p class="card-text lead fst-italic">Total images: <span th:text="${#numbers.formatInteger(statsTotalImages,1,'POINT')}">[statsTotalImages]</span></p>
						<p class="card-text lead fst-italic">Untagged images: <span th:text="${#numbers.formatInteger(statsUntaggedImages,1,'POINT')}">[statsUntaggedImages]</span></p>
						<p class="card-text lead fst-italic">Total file size: <span th:text="${statsTotalFileSize}">[statsTotalFileSize]</span></p>
					</div>
				</div>

			</div>

		</div>

	</div>

</body>
</html>