<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title th:text="#{dashboard.label}"></title>
	
	<!-- jQCloud -->
	<link rel="stylesheet" th:href="@{'/webjars/jqcloud2/'+#{application.dependency.jqcloud}+'/dist/jqcloud.min.css'}"/>
</head>
<body th:with="menu='dashboard'">

	<div layout:fragment="content">

		<div class="container-fluid" id="wordCloud" style="height: 40rem;/* background-color: #957bbe;*/"></div>

	</div>
	
	<div layout:fragment="additionalJs">
		<!-- jQCloud -->
		<script defer th:src="@{'/webjars/jqcloud2/'+#{application.dependency.jqcloud}+'/dist/jqcloud.min.js'}"></script>
		
		<script type="text/javascript">
			$( document ).ready( function() {
	
				var words;
	
				$.when(
	
					$.ajax( {
						url: '/api/1.0/allTagsWithOccurrences',
						dataType: 'json',
						cache: false
					}).done( function( data ) {
						words = convertTagsToWords( data );
					}).fail( function( jqXHR, textStatus, errorThrown ) {
						alert( jqXHR.responseText );
					})
	
				).then( function() {
					$('#wordCloud').jQCloud(words);
				});

				/**
				 * tags example: [{"id":1, "name":"scrum", "amount":25},{"id":2, "name":"kanban", "amount":3}]
				 * 
				 * var words = [
				 * 		{text: "Lorem", weight: 13, link: "http://github.com/mistic100/jQCloud"},
				 * 		{text: "Ipsum", weight: 100, link: "http://www.strangeplanet.fr"},
				 * 		{text: "Dolor", weight: 9.4, link: "http://piwigo.org"}
				 * ];
				 */
				function convertTagsToWords( tags )
				{
					var words = [];

					for( var index in tags )
					{
						words.push( { "text": tags[index].name, "weight": tags[index].amount, "link": "/image/tag/"+tags[index].id } );
					}

					return words;
				}
	
			});
		</script>
	</div>

</body>
</html>