<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title th:text="#{statistic.label}"></title>
</head>
<body th:with="menu='statistic'">

	<div layout:fragment="content">

		<div class="container-fluid">

			<div class="card w-25 m-3">
				<h5 class="card-header" th:text="#{statistic.card.images.label}">Images</h5>
				<ul class="list-group list-group-flush">
					<li class="list-group-item" th:text="${#messages.msg('statistic.card.images.totalImages.text',stats.totalImages)}">? images</li>
					<li class="list-group-item" th:text="${#messages.msg('statistic.card.images.untaggedImages.text',stats.untaggedImages)}">? untagged images</li>
					<li class="list-group-item" th:text="${#messages.msg('statistic.card.images.totalFilesize.text',stats.totalFilesizeFormated)}">? total file size</li>
				</ul>
			</div>

		</div>

	</div>

</body>
</html>