<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
	<title th:text="#{statistic.label}"></title>
</head>
<body th:with="menu='statistic'">

	<div th:fragment="content">

		<div class="container-fluid mt-3">
			<div class="row">

				<div class="col-sm-3">
					<div class="card">
						<h5 class="card-header" th:text="#{statistic.card.images.label}">Images</h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item" th:text="${#messages.msg('statistic.card.images.totalImages.text',stats.totalImages)}">? images</li>
							<li class="list-group-item" th:text="${#messages.msg('statistic.card.images.untaggedImages.text',stats.untaggedImages)}">? untagged images</li>
							<li class="list-group-item" th:text="${#messages.msg('statistic.card.images.totalFilesize.text',stats.totalFilesizeFormated)}">? total file size</li>
						</ul>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="card">
						<h5 class="card-header" th:text="#{statistic.card.tags.label}">Tags</h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item" th:text="${#messages.msg('statistic.card.tags.totalTags.text',stats.totalTags)}">? tags</li>
							<li class="list-group-item" th:text="${#messages.msg('statistic.card.tags.unusedTags.text',stats.unusedTags)}">? unused tags</li>
						</ul>
					</div>
				</div>

			</div>
		</div>

	</div>

</body>
</html>