<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title th:text="#{statistic.label}"></title>
</head>
<body th:with="menu='statistic'">

	<div layout:fragment="content">

		<div class="container-fluid">

			<div class="card w-25 m-3">
				<h5 class="card-header" th:text="#{statistic.card.images.label}">Images</h5>
				<ul class="list-group list-group-flush">
					<li class="list-group-item" th:text="${#messages.msg('statistic.card.images.totalImages.text',stats.totalImages)}">? images</li>
					<li class="list-group-item" th:text="${#messages.msg('statistic.card.images.untaggedImages.text',stats.untaggedImages)}">? untagged images</li>
					<li class="list-group-item" th:text="${#messages.msg('statistic.card.images.totalFilesize.text',stats.totalFilesizeFormated)}">? total file size</li>
				</ul>
			</div>
			
			<!--
			<div class="card m-3">
				<h5 class="card-header" th:text="#{statistic.card.tags.label}">Tags</h5>
				<div class="card-body">
					<ul class="nav nav-pills card-header-pills mb-3">
						<li class="nav-item">
							<a class="nav-link active" href="#">Active</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#">Disabled</a>
						</li>
					</ul>
					<div class="row mt-1">
						<div class="col-sm-2">
							<span>Tag 1</span>
						</div>
						<div class="col-sm-10">
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">123</div>
							</div>
						</div>
					</div>
					<div class="row mt-1">
						<div class="col-sm-2">
							<span>Tag 2</span>
						</div>
						<div class="col-sm-10">
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">123</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			-->

		</div>

	</div>

</body>
</html>