.required {
	color: #F00;
}

.clickable {
	cursor: pointer;
}

.selectize-control.multi .selectize-input > div.person {
	background-color: #8ad1e7;
}

.img-fit {
	max-height: calc(100vh - 92px);
/*	max-height: calc(100vh - var(--main-menu-height));*/
}