.required {
	color: #F00;
}

.clickable {
	cursor: pointer;
}

.tag-type-category {
	background-color: #80bdff;
}

.tag-type-person {
	background-color: #957bbe;
}

.img-fit {
	max-height: calc(100vh - 92px);
/*	max-height: calc(100vh - var(--main-menu-height));*/
}