<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title th:text="#{gallery.label}"></title>
	
	<!-- Select2 -->
	<link rel="stylesheet" th:href="@{'/webjars/select2/'+#{application.dependency.select2}+'/dist/css/select2.min.css'}"/>
</head>
<body th:with="menu='gallery'">

	<div layout:fragment="content">

		<div class="container-fluid">
			<div class="container-sidebar col-3" style="/*background-color: #80bdff; height: 8rem;*/ float: left;">
				<div class="card" style="margin-top: 10px;">
					<h5 class="card-header" th:text="#{gallery.card.search.title}">Search</h5>
					<div class="card-body">
						<a th:href="@{/gallery/back}" th:text="#{gallery.card.search.button.backToGallery}" class="btn btn-outline-secondary">Back to gallery</a>
					</div>
				</div>
				<div class="card" style="margin-top: 10px;">
					<h5 class="card-header" th:text="#{gallery.card.image.title}">Image</h5>
					<div class="card-body">
						<form th:object="${image}" th:action="@{/gallery/update}" action="#" method="post">
							<input type="hidden" th:field="*{id}"/>
							<div class="form-group">
								<select th:field="*{tags}" class="form-control select2-multiple" size="4" multiple="multiple">
									<optgroup
										th:each="ty : ${T(karstenroethig.imagetags.webapp.domain.enums.TagTypeEnum).values()}"
										th:if="${allTags.hasTagsForType(ty)}"
										th:label="${#messages.msg('tag.type.'+ty.name()+'.label')}" label="[type]">
										<option th:each="tag : ${allTags.getTagsByType(ty)}" th:value="${{tag}}" th:text="${tag.name}">[name]</option>
									</optgroup>
								</select>
							</div>
							<button type="submit" class="btn btn-primary" th:text="#{default.button.save.label}">Save</button>
							<a th:href="@{/image/show/{id}(id=${image.id})}" th:text="#{default.button.download.label}" class="btn btn-outline-secondary">Download</a>
							<a href="" th:text="#{default.button.delete.label}" data-toggle="modal" data-target="#deleteModal" class="btn btn-outline-danger" th:attr="data-id=${image.id}">Delete</a>
						</form>
					</div>
					<div class="card-footer">
						<p class="lead font-italic">
							<span th:text="#{gallery.card.image.filesize.label}">File size</span>: <span th:text="${image.sizeFormatted}">[sizeFormatted]</span>
						</p>
						<p class="lead font-italic" th:if="${image.resolutionWidth &gt; 0}">
							<span th:text="#{gallery.card.image.resolution.label}">Resolution</span>:
							<span th:text="${image.resolutionWidth}">[resolutionWidth]</span> x <span th:text="${image.resolutionHeight}">[resolutionHeight]</span>
						</p>
					</div>
					<div class="card-footer" th:if="${image.importPath != null}">
						<p class="lead font-italic" th:text="${image.importPath}">[importPath]</p>
					</div>
				</div>
			</div>
			<div class="container-body offset-3 col-9" style="/*background-color: #957bbe; height: 8rem;*/ padding-top: 10px;">
				<img th:src="@{/image/show/{id}(id=${image.id})}" class="img-fluid mx-auto d-block">
			</div>
		</div>
		
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel" th:text="#{image.deletePopup.title}">Delete image</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<span th:text="#{image.deletePopup.question}">Do you really want to delete this image?</span>
					</div>
					<div class="modal-footer">
						<a href="" th:attr="data-href-template=@{/gallery/delete/{id}}" class="btn btn-danger" th:text="#{default.button.delete.label}">Delete</a>
						<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{default.button.cancel.label}">Cancel</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<div layout:fragment="additionalJs">
		<!-- Select2 -->
		<script th:src="@{'/webjars/select2/'+#{application.dependency.select2}+'/dist/js/select2.min.js'}"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.select2-multiple').select2();
			});
		</script>
	</div>

</body>
</html>