<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<!-- JQuery -->
<script th:src="@{'/webjars/jquery/'+#{application.dependency.jquery}+'/dist/jquery.min.js'}"></script>

<!-- Bootstrap -->
<script th:src="@{'/webjars/bootstrap/'+#{application.dependency.bootstrap}+'/js/bootstrap.min.js'}"></script>

<!-- Popper.js -->
<script th:src="@{'/webjars/popper.js/'+#{application.dependency.popper}+'/dist/popper.min.js'}"></script>

<!-- App JavaScript -->
<script th:src="@{/js/app.js}"></script>
