<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout-error :: layout-fragment(
							~{::title},
							~{::content},
							null,
							null,
							'error'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{error.500.title})}">Internal Server Error</title>
</head>
<body>

	<div th:fragment="content">

		<h4 class="card-title mt-1 mb-3 text-center">
			<span th:text="#{error.500.title}">Internal Server Error</span> <span class="text-muted">(500)</span>
		</h4>

		<p th:text="#{error.500.text}">An unexpected server error has occurred. Try again later.</p>
		<p>
			<span th:text="#{error.500.text.support}">If the problem persists, contact Support and provide the following timestamp:</span>
			<strong th:text="${#dates.format(#dates.createNow(), #messages.msg('common.dateTimeHHmmssFormat'))}"></strong>
		</p>

	</div>

</body>
</html>