<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>

		<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" th:text="#{application.name}"></title>

		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>

		<link th:replace="~{fragments/style}"/>

	</head>

	<body>

		<div th:replace="~{fragments/header}"></div>

		<div th:replace="~{::content}"></div>

		<div th:replace="~{fragments/js}"></div>
		<div th:replace="~{::additionalJs} ?: ~{}"></div>

	</body>
</html>